.moveable {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.moveable:hover {
  transform: scale(1.05);
}
.moveable:active {
  transform: scale(0.9);
}
