img {
  max-width: 100%;
}
.card {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  width: 150px;
  margin: 5px;
}

.card:hover {
  transform: scale(1.05);
}
.card:active {
  transform: scale(0.9);
}
